// Color-palette.
$primary: #5400a8;
$primary-dark: darken($primary, 15%);
$primary-light: lighten($primary, 15%);

$secondary: #c6007b;
$secondary-dark: darken($secondary, 15%);
$secondary-light: lighten($secondary, 15%);

$tertiary: #006400;
$tertiary-dark: darken($tertiary, 15%);
$tertiary-light: lighten($tertiary, 15%);

$black: #000000;
$white: #ffffff;

$background1: #33006e;
$background2: darken($background1, 20%);

@debug lighten($secondary, 40%);
