// Define colors
$hl: #80AAFF;
$bg: #20222E;
$fg: #BFC9F4;
$inactive: #20222E;
$active: #BFC9F4;

// Define dark and light versions
$hl-dark: darken($hl, 10%);
$hl-light: lighten($hl, 10%);

$bg-dark: darken($bg, 10%);
$bg-light: lighten($bg, 10%);

$fg-dark: darken($fg, 10%);
$fg-light: lighten($fg, 10%);

$inactive-dark: darken($inactive, 10%);
$inactive-light: lighten($inactive, 10%);

$active-dark: darken($active, 10%);
$active-light: lighten($active, 10%);

// Debugging
@debug $hl-dark;
