$default-padding: 4px 16px;
$default-margin: 4px;
$default-border-radius: 0 0 15px 15px;

body {
  background: $bg-dark;
  height: 100vh;
  width: 99.9vw;
  display: flex;
  flex-direction: deck;
  align-items: start;
  justify-content: start;
}

* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: deck;
  justify-content: center;
  max-height: 2rem;
  width: 100%;
  button {
    z-index: 60;
    padding-top: 0;
    border-radius: $default-border-radius;
    color: $fg;
    background: $bg;
    border: 4px ridge;
    border-top: 0;
    border-color: $hl;
    margin: 0px 4px;
    width: 25%;
    height: 2rem;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
    &:hover {
      border-color: $hl-light;
      font-size: 20px;
      font-weight: 800;
      height: 3rem;
      box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
    &:focus {
      border: 6px ridge;
      border-top: 0px;
      font-weight: 900;
      color: $fg;
      background: $bg;
      border-color: $hl-dark;
      width: 30%;
      box-shadow: 0 0px 4px 8px rgba(26, 102, 255, 0.3);
    }
  }
  .wip {
    @extend button;
  }
}

#sidepanel {
  width: 10rem;
}

.sidebar {
  margin-top: 6px;
  display: flex;
  align-content: start;
  flex-direction: column;
  align-self: left;
  justify-content: left;
  button {
    //Initial state;
    color: $fg;
    background: $bg;
    z-index: 50;
    padding: $default-padding;
    border-radius: 0px 15px 15px 0px;
    border: none;
    margin: 4px 0px;
    width: 100%;
    height: 2em;
    font-size: 20px;
    transition: background 0.2s ease-out;
    transition: color 0.2s ease-out;
    transition: width 0.5s ease;
    //add a box shadow to the button
    box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
    &:hover {
      color: $fg-light;
      background: $bg-light;
      width: 120%;
      cursor: pointer;
    }
    &:focus {
      color: $fg-dark;
      background: $bg-dark;
      width: 120%;
      cursor: default;
    }
  }
}

#high {
  width: 100vw;
  max-height: 100%;
  height: 93vh;
  display: flex;
  #main_window {
    background-color: #000000;
    min-width: 10rem;
    width: 100%;
    align-self: left;
    margin: 10px 10px 10px -20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
}

.overview {
  height: 100%;
  max-width: 90%;
  width: 83%;
  border-radius: 16px;
  background: #202080;
  color: white;
  align-self: left;
  border-radius: $default-border-radius;
  margin: 10px;
  div {
    color: white;
    border: 2px solid;
  }
}

.notifications {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 10px;
  border-radius: 15px 0px 0px 15px;
  width: 15%;
  height: fit-content;
  transition: all 0.2s ease-out;
  transition: width 0.5s ease;
  margin-top: 10px;
  div {
    display: flex;
    flex-direction: column;
    border-radius: 15px 0 0 15px;
    padding: 2px 0 0 2px;
    align-self: flex-end;
    .title {
      max-width: 20%;
    }
  }
}
