$black: #393b44;
$red: #c94f6d;
$green: #81b29a;
$yellow: #dbc074;
$blue: #719cd6;
$magenta: #9d79d6;
$cyan: #63cdcf;
$white: #dfdfe0;
$orange: #f4a261;
$pink: #d67ad2;

$darkpink: #7d0053;
$midpink: #c6007b;
$lightpink: #ff59a9;

$darkblue: #1f003d;
$midblue: #5400a8;
$lightblue: #694ed1;

$neongreen: #81e300;

$background1: #33006e;
$background2: #180033;
$darkaccent: #000000;

$comments: #738091;

$bg0: #131a24;
$bg1: #192330;
$bg2: #212e3f;
$bg3: #29394f;
$bg4: #39506d;

$fg0: #d6d6d7;
$fg1: #cdcecf;
$fg2: #aeafb0;
$fg3: #71839b;

$sel0: #2b3b51;
$sel1: #3c5372;

$default-padding: 4px 16px;
$default-margin: 4px;
$default-border-radius: 0 0 15px 15px;

body {
  background: linear-gradient($background1, $background2);
  height: 100vh;
  width: 99.9vw;
  display: flex;
  flex-direction: deck;
  align-items: start;
  justify-content: start;
}

* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: deck;
  width: 100%;
  button {
    color: $white;
    background: $midblue;
    padding: $default-padding;
    border-radius: $default-border-radius;
    border: none;
    margin: 0px 4px;
    width: 25%;
    height: 2em;
    font-size: 20px;
    transition: background 0.2s ease-out;
    transition: color 0.2s ease-out;
    transition: width 0.5s ease;
    &:hover {
      width: 30%;
      color: $darkaccent;
      background: $lightblue;
      cursor: pointer;
    }
    &:focus {
      width: 30%;
      color: $white;
      background: $midpink;
      cursor: default;
    }
  }
  .wip {
    color: $darkaccent;
    background: $orange;
    padding: $default-padding;
    border-radius: $default-border-radius;
    border: none;
    margin: 0px 4px;
    width: 25%;
    height: 2em;
    font-size: 20px;
    transition: background 0.2s ease-out;
    transition: color 0.2s ease-out;
    transition: width 0.5s ease;
    &:hover {
      width: 30%;
      color: $darkaccent;
      background: $yellow;
      cursor: not-allowed;
    }
  }
}

#sidepanel {
  width: 10rem;
}

.sidebar {
  margin-top: 6px;
  display: flex;
  align-content: start;
  flex-direction: column;
  align-self: left;
  justify-content: left;
  button {
    z-index: 50;
    color: $white;
    background: $midblue;
    padding: $default-padding;
    border-radius: 0px 15px 15px 0px;
    border: none;
    margin: 4px 0px;
    width: 100%;
    height: 2em;
    font-size: 20px;
    transition: background 0.2s ease-out;
    transition: color 0.2s ease-out;
    transition: width 0.5s ease;
    &:hover {
      width: 120%;
      color: $darkaccent;
      background: $lightblue;
      cursor: pointer;
    }
    &:focus {
      width: 120%;
      color: $white;
      background: $midpink;
      cursor: default;
    }
  }
}


#main {
  width: 100%;
  max-height: 100%;
  height: 93vh;
  display: flex;
  #main_window {
    background-color: #000000;
    min-width: 10rem;
    width: 100%;
    align-self: left;
    margin: 10px 10px 10px -20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
}

.overview {
  height: 100%;
  max-width: 90%;
  width: 83%;
  border-radius: 16px;
  background: #202080;
  color: white;
  align-self: left;
  border-radius: $default-border-radius;
  margin: 10px;
  div { 
    color: white;
    border: 2px solid;
  }
}

.notifications {
  display: flex;
  justify-content: center;
  background-color: $midblue;
  color: $white;
  padding: 10px 0 10px 10px;
  border-radius: 15px 0px 0px 15px;
  width: 15%;
  height: fit-content;
  transition: all 0.2s ease-out;
  transition: width 0.5s ease;
  margin-top: 10px;
  div {
    display: flex;
    flex-direction: column;
    border-radius: 15px 0 0 15px;
    padding: 2px 0 0 2px;
    background: $lightblue;
    align-self: flex-end;
    .title {
      max-width: 20%;
    }
  }
}
