body {
  background: #0b0c10;
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: deck;
  align-items: start;
  justify-content: start;
}

* {
  margin: 0;
  padding: 0;
}

#sidepanel {
  width: 10rem;
}

#high {
  width: 100vw;
  max-height: 100%;
  height: 93vh;
  display: flex;
}
#high #main_window {
  background-color: #000000;
  min-width: 10rem;
  width: 100%;
  align-self: left;
  margin: 10px 10px 10px -20px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

/* NOTE: BOX USAGE
         button {class: "box", "Default" }
         button {class: "box top", "Top" }
         button {class: "box left", "Left" }
         button {class: "box right", "Right" }
         button {class: "box bottom", "Bottom" }
*/
.box {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
  padding: 4px 12px;
  min-width: 8rem;
  background-color: #101625;
  border: 2px solid #bfd0f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 58, 180, 0.7);
  transition: all 0.2s ease-in-out;
}
.box:hover {
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 58, 180, 0.7);
}
.box:focus {
  font-weight: 600;
  background-color: #bfd0f4;
  color: #101625;
}

.right {
  border-right: 0;
  border-radius: 10px 0px 0px 10px;
  align-self: right;
  margin-right: 0;
}

.left {
  border-left: 0;
  border-radius: 0px 10px 10px 0px;
  align-self: left;
  margin-left: 0;
}

.top {
  border-top: 0;
  border-radius: 0px 0px 10px 10px;
  align-self: top;
  margin-top: 0;
}

.bottom {
  border-bottom: 0;
  border-radius: 10px 10px 0px 0px;
  align-self: bottom;
  margin-bottom: 0;
}

.test1 {
  background-color: #bfd0f4;
  color: #000;
}
.test1:hover {
  background-color: #6890e5;
  color: #000;
}
.test1:focus {
  background-color: white;
  color: #000;
}

.test2 {
  background-color: #003ab4;
  color: #fff;
}
.test2:hover {
  background-color: #00194e;
  color: #000;
}
.test2:focus {
  background-color: #1b64ff;
  color: #000;
}

.test3 {
  background-color: #101625;
  color: #fff;
}
.test3:hover {
  background-color: black;
  color: #fff;
}
.test3:focus {
  background-color: #2e426c;
  color: #fff;
}

.test #test {
  background: pink;
}

.sidebar {
  margin-top: 6px;
  display: flex;
  align-content: start;
  flex-direction: column;
  align-self: left;
  justify-content: left;
}
.sidebar button, .sidebar .nav .wip, .nav .sidebar .wip {
  color: #bfc9f4;
  background: #0b0c10;
  z-index: 50;
  padding: 4px 16px;
  border-radius: 0px 15px 15px 0px;
  margin: 4px 0px;
  width: 100%;
  height: 2em;
  font-size: 20px;
  border: none;
  border-bottom: 4px ridge;
  border-right: 4px ridge;
  border-color: #80aaff;
  border-right-color: #0b0c10;
  border-top: 0;
  border-left: 0;
  transition: all 0.4s ease-in-out;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
}
.sidebar button:hover, .sidebar .nav .wip:hover, .nav .sidebar .wip:hover {
  color: #ebeefb;
  background-color: #16171f;
  width: 120%;
  cursor: pointer;
  border-color: #b3ccff;
}
.sidebar button:focus, .sidebar .nav .wip:focus, .nav .sidebar .wip:focus {
  color: #ebeefb;
  background: #0b0c10;
  width: 110%;
  cursor: default;
  border-bottom: 4px ridge;
  border-right: 4px ridge;
  border-top: 0;
  border-left: 0;
  border-color: #4d88ff;
}

.overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  /* Automatically adjust columns based on available space */
  grid-auto-rows: minmax(200px, auto);
  /* Automatically adjust row height */
  max-width: 90%;
  width: 83%;
  border-radius: 16px;
  background: #20222e;
  color: white;
  border-radius: 0 0 15px 15px;
  margin: 10px;
  grid-auto-flow: dense;
  /* Fill empty areas in the grid */
  padding: 6px;
}
.overview div {
  margin: 6px;
  font-size: 24px;
  color: #bfc9f4;
  background: #0b0c10;
  padding: 10px;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  border-bottom: ridge;
  border-color: #80aaff;
  box-shadow: 0px 6px 4px 0px rgba(26, 102, 255, 0.2);
}
.overview div:hover {
  background-color: #16171f;
}

.nav {
  display: flex;
  flex-direction: deck;
  justify-content: center;
  max-height: 2rem;
  width: 100%;
}
.nav button, .nav .wip {
  z-index: 60;
  padding-top: 0;
  border-radius: 0 0 15px 15px;
  color: #bfc9f4;
  background: #0b0c10;
  border: 0;
  border-bottom: 4px ridge;
  border-color: #80aaff;
  margin: 0px 4px;
  width: 25%;
  height: 2rem;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}
.nav button:hover, .nav .wip:hover {
  background-color: #16171f;
  border-color: #b3ccff;
  font-size: 20px;
  font-weight: 800;
  height: 3rem;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.nav button:focus, .nav .wip:focus {
  border-bottom: 6px ridge;
  font-weight: 900;
  color: #bfc9f4;
  background: #20222e;
  border-color: #4d88ff;
  width: 30%;
  box-shadow: 0 0px 4px 8px rgba(26, 102, 255, 0.3);
}
.notifications {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-radius: 15px;
  width: 10%;
  margin-top: 10px;
  max-width: 10%;
  direction: rtl;
}
.notifications .child {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 5%;
  width: 90%;
  padding: 5px;
  color: white;
  margin-bottom: 10px;
  overflow: clip;
  white-space: nowrap;
  background: #20222e;
  border-radius: 15px;
}
.notifications .child:hover {
  overflow: visible;
}
.notifications .child .title {
  font-weight: bold;
}
.notifications .child .message {
  font-size: 12px;
}
.notifications form input {
  background: #20222e;
  background-color: #20222e;
  color: #80aaff;
  border: 1px solid #4d88ff;
  border-radius: 5px;
}
