.notifications {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-radius: 15px;
  width: 10%; // Adjust the width as needed
  margin-top: 10px;
  max-width: 10%;
  direction: rtl;

  .child {
    margin: 0px;
    display: flex; // Make .child a flex container
    flex-direction: column; // Stack items vertically
    align-items: flex-start; // Align items vertically if needed
    flex-basis: 5%;
    width: 90%; // Each child container should take full width
    padding: 5px;
    color: white;
    margin-bottom: 10px; // Add margin between child containers
    overflow: clip;
    white-space: nowrap;
    background: $bg;
    border-radius: 15px;
    &:hover {
      overflow: visible;
    }

    .title {
      font-weight: bold; // Example style for title
    }

    .message {
      font-size: 12px; // Example font size for message
    }
  }
  form {
    input {
      background: $bg;
      background-color: $bg;
      color: $hl;
      border: 1px solid $hl-dark;
      border-radius: 5px;
    }
  }
}
